{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"requirePragma": false,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "es5"
}