main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
}

#wrapper {
	height: var(--elt-size);
	margin: 0 auto;
	padding: 2rem 0;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
  align-items: center;

	canvas {
		box-shadow: 2px 2px 1rem #0009;
		border: 1px solid #fff3;
	}
}

#wrapper.loading:after {
	content: 'Loading ...';
	display: block;
	position: absolute;
	padding: 0.25rem 0.5rem;
	background-color: hsl(0, 0%, 15%);
	box-shadow: 2px 2px 1rem #0006;
	border-radius: 0.125rem;
}

#content {
	position: relative;
	width: var(--elt-size);
	margin: 0 auto;

	pre {
		background-color: #0003;
		/* width: fit-content; */
		padding: 0.75rem 1.25rem
	}

	div {
		padding: 0.75rem 0 1.25rem;
	}

	div > img {
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0 auto 2rem auto;
	}

	.col-2 {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 1rem;
	}
}

@media (orientation: landscape) {
	:root {
		--elt-size: calc(100vh - 2 * 2rem);
	}
}

@media (orientation: portrait) {
	:root {
		--elt-size: calc(100vw - 2 * 2rem);
	}
}
