<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
		<link rel="stylesheet" href="/static/global.css">
		<link rel="stylesheet" href="/static/default.css">
		<title>Sketch Template</title>
	</head>
	<body>
		<main>
			<div id="wrapper"></div>
		</main>
		<script src="/1.9.4/p5.min.js"></script>
		<script type="module">
			import { sketch } from './src/sketch.ts'
			new window.p5(sketch, document.getElementById('wrapper'));
		</script>
	</body>
</html>