.button-component {
	margin: 0 0.5rem 0.5rem 0;

	label {
		display: inline-block;
		position: relative;
		font-size: 0.75rem;
		font-weight: bold;
		user-select: none;
		padding: 0.25rem 0.5rem 0.25rem 0.25rem;

		border-radius: var(--border-radius);
		border: 1px solid var(--clr-base-20);
		background-color: var(--clr-base-12);
		box-shadow: var(--box-shadow);

		transition: color 0.2s, background-color 0.2s, border-color;
	}

	input:disabled + label {
		color: hsl(0, 0%, 40%);
	}

	input:not(:disabled) + label:hover {
		color: hsl(0, 0%, 80%);
		border-color: var(--clr-base-25);
		background-color: var(--clr-base-15);
	}

	input:not(:disabled) + label:active {
		transition: none;
		border-color: var(--clr-base-30);
		/* border-color: hsl(0, 0%, 40%); */
		background-color: var(--clr-base-20);
	}

	label::before {
		content: '';
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0 0.5rem 0 0;
		vertical-align: middle;

		background-color: currentColor;
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
	}

	#toggle-play-pause + label {
		min-width: 4rem;
	}

	#toggle-play-pause[value=play] + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8 17.175V6.825q0-.425.3-.713t.7-.287q.125 0 .263.037t.262.113l8.15 5.175q.225.15.338.375t.112.475t-.112.475t-.338.375l-8.15 5.175q-.125.075-.262.113T9 18.175q-.4 0-.7-.288t-.3-.712'/%3E%3C/svg%3E");
	}

	#toggle-play-pause[value=pause] + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16 19q-.825 0-1.412-.587T14 17V7q0-.825.588-1.412T16 5t1.413.588T18 7v10q0 .825-.587 1.413T16 19m-8 0q-.825 0-1.412-.587T6 17V7q0-.825.588-1.412T8 5t1.413.588T10 7v10q0 .825-.587 1.413T8 19'/%3E%3C/svg%3E");
	}

	#button-refresh + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 20q-3.35 0-5.675-2.325T4 12t2.325-5.675T12 4q1.725 0 3.3.712T18 6.75V5q0-.425.288-.712T19 4t.713.288T20 5v5q0 .425-.288.713T19 11h-5q-.425 0-.712-.288T13 10t.288-.712T14 9h3.2q-.8-1.4-2.187-2.2T12 6Q9.5 6 7.75 7.75T6 12t1.75 4.25T12 18q1.7 0 3.113-.862t2.187-2.313q.2-.35.563-.487t.737-.013q.4.125.575.525t-.025.75q-1.025 2-2.925 3.2T12 20'/%3E%3C/svg%3E");
	}

	#button-background + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.05 0-3.875-.788t-3.187-2.15t-2.15-3.187T2 12q0-2.075.813-3.9t2.2-3.175T8.25 2.788T12.2 2q2 0 3.775.688t3.113 1.9t2.125 2.875T22 11.05q0 2.875-1.75 4.413T16 17h-1.85q-.225 0-.312.125t-.088.275q0 .3.375.863t.375 1.287q0 1.25-.687 1.85T12 22m-5.5-9q.65 0 1.075-.425T8 11.5t-.425-1.075T6.5 10t-1.075.425T5 11.5t.425 1.075T6.5 13m3-4q.65 0 1.075-.425T11 7.5t-.425-1.075T9.5 6t-1.075.425T8 7.5t.425 1.075T9.5 9m5 0q.65 0 1.075-.425T16 7.5t-.425-1.075T14.5 6t-1.075.425T13 7.5t.425 1.075T14.5 9m3 4q.65 0 1.075-.425T19 11.5t-.425-1.075T17.5 10t-1.075.425T16 11.5t.425 1.075T17.5 13M12 20q.225 0 .363-.125t.137-.325q0-.35-.375-.825T11.75 17.3q0-1.05.725-1.675T14.25 15H16q1.65 0 2.825-.962T20 11.05q0-3.025-2.312-5.038T12.2 4Q8.8 4 6.4 6.325T4 12q0 3.325 2.338 5.663T12 20'/%3E%3C/svg%3E");
	}

	#button-shuffle + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23000' d='M592 192H473.26c12.69 29.59 7.12 65.2-17 89.32L320 417.58V464c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48V240c0-26.51-21.49-48-48-48M480 376c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24m-46.37-186.7L258.7 14.37c-19.16-19.16-50.23-19.16-69.39 0L14.37 189.3c-19.16 19.16-19.16 50.23 0 69.39L189.3 433.63c19.16 19.16 50.23 19.16 69.39 0L433.63 258.7c19.16-19.17 19.16-50.24 0-69.4M96 248c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24m128 128c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24m0-128c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24m0-128c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24m128 128c-13.25 0-24-10.75-24-24c0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24'/%3E%3C/svg%3E");
	}

	#button-save + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17 17.2l-.9-.9q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l2.6 2.6q.3.3.7.3t.7-.3l2.6-2.6q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275l-.9.9v-3.175q0-.425-.288-.712T18 13.025t-.712.288t-.288.712zM15 22h6q.425 0 .713.288T22 23t-.288.713T21 24h-6q-.425 0-.712-.288T14 23t.288-.712T15 22m-9-2q-.825 0-1.412-.587T4 18V4q0-.825.588-1.412T6 2h6.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762v1.2q0 .425-.288.712t-.712.288t-.712-.288t-.288-.712V9h-3.5q-.625 0-1.062-.437T12 7.5V4H6v14h5q.425 0 .713.288T12 19t-.288.713T11 20zm0-2V4z'/%3E%3C/svg%3E");
	}

	#button-upload + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 19h2v-4.175l1.6 1.6L16 15l-4-4l-4 4l1.425 1.4L11 14.825zm-5 3q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm7-13V4H6v16h12V9zM6 4v5zv16z'/%3E%3C/svg%3E");
	}

	#radio-select + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h7.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V13q0 .425-.288.713T19 14t-.712-.288T18 13V9h-4q-.425 0-.712-.288T13 8V4H6v16h8q.425 0 .713.288T15 21t-.288.713T14 22zm13-2.575v1.225q0 .425-.288.713T18 21.65t-.712-.287T17 20.65V17q0-.425.288-.712T18 16h3.65q.425 0 .713.288t.287.712t-.287.713t-.713.287H20.4l2.25 2.25q.275.275.275.688t-.275.712q-.3.3-.712.3t-.713-.3zM6 20V4z'/%3E%3C/svg%3E");
		/* --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12.475q.425 0 .713.288t.287.712t-.288.713t-.712.287H5v14h14v-6.5q0-.425.288-.712T20 11.5t.713.288t.287.712V19q0 .825-.587 1.413T19 21zm6.525-6.8l8.5-8.5q.275-.275.675-.275t.7.275t.3.7t-.3.725L12.225 16.3q-.3.3-.7.3t-.7-.3l-4.25-4.25q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275z'/%3E%3C/svg%3E"); */
	}

	#radio-remove + label {
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 4v5zv16v-.238V20zm0 18q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v4.35q-.475-.175-.975-.262T18 12V9h-5V4H6v16h6.35q.2.575.5 1.075t.7.925zm9.9-.5l-1.4-1.4l2.1-2.1l-2.1-2.1l1.4-1.4l2.1 2.1l2.1-2.1l1.4 1.4l-2.075 2.1l2.075 2.1l-1.4 1.4l-2.1-2.075z'/%3E%3C/svg%3E");
	}
}

.ul-component {
	li {
		background-color: var(--clr-base-12);
	}

	li:hover {
		background-color: var(--clr-base-20);
	}
}

#sketch-controls {
	.ul-component:empty::after {
		content: 'Upload an image or pick an emoji from below ...';
		font-size: 0.75rem;
	}
}

#image-picker {
	.ul-component:empty::after {
		content: 'Nothing uploaded yet ...';
	}
}

#sketch-controls .ul-component,
#image-picker .ul-component {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	min-height: calc(2.5rem + 2px);

	li {
		width: 1.5rem;
		height: 1.5rem;
		padding: 0.5rem;

		text-align: center;

		border-radius: var(--border-radius);
		border: 1px solid var(--clr-base-20);
		background-color: var(--clr-base-12);
		box-shadow: var(--box-shadow);

		transition:
			background-color 0.2s,
			border-color 0.2s,
			opacity 0.2s,
			width 0.2s,
			padding-inline 0.2s;
	}

	li:hover {
		border-color: var(--clr-base-25);
		background-color: var(--clr-base-20);
	}

	li.removing {
		overflow: hidden;
		width: 0;
		margin: 0 calc(-0.375rem - 1px);
		padding-inline: 0rem;
		border-color: transparent;
		background-color: transparent;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.tab-component {
	.tab-link-wrap {
		overflow-y: hidden;
		margin-bottom: -1.5px;
		padding: 0.5rem 0.75rem 0;
	}

	.tab-link {
		min-width: 2.5rem;
		padding-bottom: 0.125rem;
		text-align: center;
		line-height: 2rem;

		border: 1px solid transparent;
		transition: margin-top 0.2s;
	}

	.tab-link:not(.selected):hover {
		margin-top: -2px;
	}

	.tab-link.selected {
		cursor: default;
		margin-top: -2px;

		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		border-top: 1px solid var(--clr-base-20);
		border-left: 1px solid var(--clr-base-20);
		border-right: 1px solid var(--clr-base-20);
		background-color: var(--clr-base-12);
		box-shadow: var(--box-shadow);
	}

	.tab-item-wrap {
		border-radius: var(--border-radius);
		border: 1px solid var(--clr-base-20);
		background-color: var(--clr-base-12);
		box-shadow: var(--box-shadow);
	}

	.tab-item .ul-component {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));

		margin: 0;
		padding: 0;
		font-size: 1.25rem;

		li {
			user-select: none;
			padding: 0.5rem;
			text-align: center;
			transition: background-color 0.2s;
		}

		li:active {
			transition: none;
			background-color: var(--clr-base-25);
		}
	}
}

/* ul.editable {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 1rem 0;
	padding: 0;
	min-height: calc(2px + 3rem);
	gap: 0.625rem;

	li {
		position: relative;
		aspect-ratio: 1;
		max-height: 2rem;
		margin: 0;
		padding: 0.5rem;

		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: hsl(0, 0%, 15%);
		border-radius: 0.125rem;
		box-shadow: 2px 2px 1rem hsl(0, 0%, 5%);
		border: 1px solid hsl(0, 0%, 20%);
		opacity: 1;

		transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
	}

	li.hidden {
		opacity: 0;
	}

	li:hover {
		background-color: hsl(0, 0%, 20%);
		border: 1px solid hsl(0, 0%, 25%);
	}

	img {
		max-height: 100%;
		aspect-ratio: 1;
	}
} */
